.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
table, th, td {
  border: 1px solid black;
}

.pagination {
    cursor: pointer; 
    float:left;
    list-style-type: none;
    padding: 5px; 
    border: 1px solid black;
    margin: 3px;
  
}
.pagination:hover{
  background-color:gray;
}

.selected {
  background-color:darkgray  
}


.clickedButton{
  background-color:lightblue
}
.mm-popup {

  background-color: blue;
  width:700px;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
}
